<div class="template">
    <div class="template__container">
        <div class="template__container__tittle">
            <div class="content_img">
                <div class="content_img__img">
                    <img src="./../../../../../assets/images/Hackaton.png" alt="">
                </div>
                <h2 class="content_img__subtitle">
                    Bienvenidos al Hackaton
                </h2>
            </div>
        </div>
        <div class="template__container__form">
            <ng-content select="[content]"></ng-content>
            
        </div>
    </div>
</div>
