@import "src/assets/styles/instance";
.bootcamp {
    height: 100%;
    &__content {
        height: 82%;
        @include border-radius(4px);
        @include box-shadow(0px 1px 6px 0px rgba(0,0,0,0.4));
        padding: 10px;
        &__actions_title {
            position: relative;
            &__title {
                font-weight: 600;
                margin: 0;
                .field {
                    width: 80%;
                }
            }
            &__actions {
                position: absolute;
                top: -4px;
                right: 0;
            }
        }
        &__description {
            margin-top: 15px;
            &__text_area {
                width: 100%;
            }
        }
    }
}