@import "src/assets/styles/instance";
.layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &__toolbar {
        background-color: $c2;
        &__title {
            img {
                height: 50px;
            }
            .title {
                display: none;
            }
        }
        &__spacer {
            flex: 1 1 auto;
        }
        &__user {
            .perfil {
                height: 48px;
            }
        }
        &__menu {
            display: none;
        }
    }
    &__sidenav {
        flex: 1;
    }
    @include brp($medium, min) {
        &__toolbar {
            &__mobile {
                display: none;
            }
            &__menu {
                display: block;
            }
        }
    }
}
.perfil {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c4;
    font-weight: 600;
}