@import "./../../../../../assets/styles/variables";

.c-Login{
    .login{
        -webkit-box-shadow: 6px 7px 16px 4px rgba(0,0,0,0.67); 
        box-shadow: 6px 7px 16px 4px rgba(0,0,0,0.67);
        width: 100vw;
        height: 100vh;
        background-color: $c1;
    }
}

// @media only screen and (max-width: $medium) {
//     .c-Login{
//         .login{
            
//             }
//         }
// }
// @media only screen and (max-width: $large) {
//     .c-Login{
//         .login{
            
//             }
//         }
// }